<div class="jumbotron bg-image">
    <h1 class="t-bold t-white">Portal de Registro</h1>
    <p class="lead t-white">Descubre lo que se siente poder reservar un lugar desde la comodidad de tu hogar</p>
</div>

<div class="container-fluid">
    <h3 class="t-bold t-black">Formulario de Registro</h3>
    <hr class="my-4">
    <div class="container">
        <form #form_data="ngForm" (ngSubmit)="signup(form_data)">
            <div class="form-group">
                <label >Nombres</label>
                <input type="text" 
                    class="form-control" 
                    name="first_name"
                    id="name_input" 
                    placeholder="Nombres" ngModel required>
            </div>
            <div class="form-group">
                <label >Apellidos</label>
                <input type="text" 
                    class="form-control" 
                    id="lastname_input" 
                    name="last_name"
                    placeholder="Apellidos" ngModel required>
            </div>
            <div class="form-group">
                <label>Correo electrónico</label>
                <input type="email" 
                    class="form-control" 
                    id="email_input"
                    name="email"
                    placeholder="Correo electrónico" ngModel required>
            </div>
            <div class="form-group">
                <label >Nombre de usuario</label>
                <input type="text" 
                    class="form-control" 
                    id="username_input" 
                    name="username"
                    placeholder="Nombre de usuario" ngModel required>
            </div>
            <div class="form-group">
                <label >Contraseña</label>
                <input type="password" 
                    class="form-control" 
                    id="password_input" 
                    name="password"
                    placeholder="Contraseña" ngModel required>
            </div>
            
            <div class="form-group">
                <label >Confirmación de contraseña</label>
                <input type="password" 
                    class="form-control" 
                    id="password_again_input" 
                    name="password_again"
                    placeholder="Confirmación de contraseña" ngModel required>
                
            </div>
            <div class="form-group">
                <label >Fecha de nacimiento</label>
                <input type="date" 
                    class="form-control" 
                    id="birthday_input" 
                    name="fecha_nacimiento"
                    placeholder="Fecha de nacimiento" ngModel>
            </div>
            <div class="form-group">
                <label class="margin-l-m">¿Es dueño de restaurante? 
                    <input type="checkbox" name="es_admin_restaurante" 
                        [checked]="es_admin_restaurante"
                        (change)="changed_is_admin($event, es_admin_restaurante)">
                </label>
            </div>

                <button type="submit" id="submitRegistro" class="btn btn-primary bg-blue submitRegistro" ng-click="registrar()">Registrar</button>
                <div *ngIf="success">
                    <span class="msg">Registro exitoso.</span>
                </div>    
                <div *ngIf="error" class="alert alert-danger">
                    <span class="msg">Ha ocurrido un error: {{error_msg}}</span>
                </div>             
            
        </form>
    </div>
</div>
