<div class="bd-example">
    <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
                <div *ngFor="let noticia of news" 
                    class="carousel-item"
                    [class.active]="noticia.id == 1">
                    <div class="darken"></div>
                    <a href="{{noticia.url_noticia}}">
                        <img src="{{noticia.img_url}}" 
                            class="d-block w-100" 
                            alt="rest"></a>
                    <div class="carousel-caption d-none d-md-block">
                        <h1>{{noticia.titulo}}</h1>
                        <h3 class="t_white">{{noticia.descripcion}} reseñas</h3>
                    </div>
                </div>
        </div>
    </div>
    <a class="carousel-control-prev" 
        href="#carouselExampleCaptions" 
        role="button" 
        data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>