header {
    background-color: var(--primary-light);
}

#info a {
    margin: auto 10px;
    font-size: 14pt;
}

#info:hover a {
    text-decoration: none;
    color: black;
}

.subitems {
    background-color: var(--primary-light);
}

.btnIcons {
    margin: 10px;
    background-color: transparent;
    font-size: 18px;
    color: var(--dark);
    width: max-content;
    border: none !important;
}

.btnIcons span:hover {
    font-weight: bolder;
}

.btnIcons i {
    font-size: 20px;
    margin-right: 10px;
}


/*  <---------------- no borrar -------------------> */


/*
header {
    position: sticky;
    width: 100%;
    background: var(--primary-light);
    top: 0;
    z-index: 9999;
}

header .container {
    display: flex; 
    justify-content: space-between;
    width: 97%;
    padding: 15px 10px;
    margin: auto auto;
}

.home {
    margin-left: 0px;
}

.home img {
    width: 115px;
    height: 55px;
}

.home span {
    font: 13pt "Ubuntu";
}

.home a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
    align-items: center
}

nav {
    margin-right: 15px;
    display: flex;
    align-items: center;
}

nav #info {
    margin-right: 20px;
}

nav #session {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#login,
#logup {
        padding: 10px;
        border-radius: 6px;
    }

#login span ,
#logup span {
    font: 14pt "Helvetica", Arial, sans-serif;
    font-weight: 400;
}


.user {
    margin-top: 30%;
    margin-right: 5%;
    cursor: pointer;
}

.user img {
    width: 40px;
    height: 40px;
}

#info a{
    font-size: 14pt;
}


@media only screen and (max-device-width: 590px) {

    .home img {
        width: 85px;
        height: 35px;
    }

    .user img {
        width: 40px;
        height: 45px;
    }

    #login,
    #logup {
        padding: 8px;
        border-radius: 5px;
    }

    #login span,
    #logup span {
        font: 12pt "Helvetica", Arial, sans-serif;
    }

    #info {
        display: none;
    }
}

@media screen and (max-width: 960px) {

    #info {
        display: none;
    }

}

*/