<footer class="labelFooter">
    <p> Visita nuestro perfil de <a href="https://github.com/fullstucks">Github</a></p>
    <hr width="30%">
    <p><a href="#">Volver al tope</a></p>
    <hr width="30%">
    <div class="btn-group">
        <p>© 2019 Takeit.com - Derechos Reservados</p8>
    </div>
</footer>