<footer class="container-fluid navbar navbar-expand-lg navbar-light navbarFooter">
    <div class="btn-group">
        <a href="#" class="btn-link labelFooter">Nosotros</a>
    </div>
    <div class="btn-group">
        <a href="#" class="btn-link labelFooter">Takeit.com®</a>
    </div>
</footer>