<header class="navbar sticky-top navbar-expand-lg navbar-light bg-green t-black">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="images/logo2.png" class="d-inline-block align-top" alt="logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <div class="btn-toolbar" role="toolbar">
                    <div class="btn-group">
                        <img src="images/user.png" width="50" height="50" class="d-inline-block align-top" alt="perfil">
                    </div>
                </div>
            </ul>
        </div>
    </div>
</header>