<header>
    <div class="container">

        <div class="home">
            <a href="/">
                <img src="/images/logo2.png" alt="main page" srcset="" span="Takeit">

            </a>
        </div>

        <nav>
            <div id="info">
                <a class="t-link t-dark" href="/nosotros">¿Quiénes somos?</a>
            </div>
            <div id="session">
                <% if (logged){ %>
                    <div class="user">
                        <img src="/images/user.png" alt="">
                    </div>
                    <% } else{ %>
                        <div id="logup" class="btn bg-indigo border-indigo t-white">
                            <span>Registrarse</span>
                        </div>
                        <div id="login" class="btn border-black t-black">
                            <span>Iniciar sesión</span>
                        </div>
                        <% } %>
            </div>
        </nav>
    </div>
</header>