<div class="root">

    <section style="visibility: hidden;">
      <div id="mapa" class="summary-section">
        <hr>
      </div>
    </section>

    <section>
      <div class="summary-section">
        <div style="width: 90%;">
          <span>Restaurantes recomendados</span>
          <hr>
        </div>

        <app-topgye>

        </app-topgye>
        
      </div>
    </section>

    <section>
      <div class="summary-section">
        <div style="width: 90%;">
          <span>Zonas destacadas</span>
          <hr>
        </div>
        <app-topzones>

        </app-topzones>
      </div>
    </section>

  </div>
