<fieldset>
<div class="tickect-section">
        
        <div class="tickets-section-titlte">
            <h1 class="subtitule-reservation">Selecciona tus entradas</h1>
            <h1 class="subtitule-reservation">Mesas disponibles: 000</h1>
        </div>
        
        <form action="processEntradas" method="post" name="seleccionarEntradas">
        <div class="item-entradas">
            <div id="select-sucursal" >
                <h4 class="textInBox-reservation">Fechas Disponibles</h4>
                <div class="custom-select" style="width:200px;">
                   <select ng-options=" as horarioPlanificado.fecha for horarioPlanificado in planificados track by horarioPlanificado.id" ng-model="selected"></select>
                </div>
            </div>
            <div id="select-sucursal" >
                <h4 class="textInBox-reservation">Mesas a reservar: </h4>
                <input id="num-entradas" type="number" name="num-entradas" size="5">
            </div>
            <h4 class="textInBox-reservation">$0.00</h4>
            <input class="btn bg-indigo border-indigo t-white" type="submit" value="Continuar"name="Continuar" id="cont-entradas">

        </div>
        </form>
</div>
</fieldset>
