<!DOCTYPE html>
<html lang="es">

<head>
    <title>Takeit: Armar Reserva</title>
    <% include partials/helmet-bootstrap.ejs %>
    <link rel="stylesheet" href="/stylesheets/seleccionarEntradas.css">

</head>

<body>
    <% include partials/header-bootstrap.ejs %>
    <div class="jumbotron bg-dark bg-image">
        <h1 class="t-bold t-white">Arma tu reserva</h1>
        <p class="lead t-white">Cuando quieras y como quieras</p>
    </div>

    <div class="container">
        <h3 class="t-bold">Tu Reserva</h3>
        <hr class="my-4">

        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" href="/seleccionarEntradas">Fecha y Hora</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/seleccionarMesa">Mesa</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#">Confirmación</a>
            </li </ul> <div id="reserva" class="container-fluid">

            <section id="restaurant-data" class="mt-3">
                <div class="card">
                    <div class="card-header">
                        Resumen de la reserva
                    </div>
                    <div class="container-fluid">
                        <div class="image-wrapper mt-2">
                            <img class="card-img-top img-fluid" src="/images/restaurants/5.jpg"></img>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Miskay Restaurant</h5>
                            <p class="card-text text-muted">Av Victor Emilio Estrada 800</p>
                            <p class="card-text text-muted">2 personas</p>
                            <p class="card-text text-muted">23/06 a las 19:30</p>

                        </div>
                    </div>
                </div>
            </section>

            <section id="pick-up" class="mt-3">
                <label for="name-input">Reservación a nombre de:</label>
                <input type="text" class="form-control" id="name_input" aria-describedby="Ingreso de Nombres"
                    placeholder="John">

            </section>

            <section id="terms"  class="mt-3">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">He leído y acepto los <a
                            href="/terminos">términos</a> de servicio</label>
                </div>
            </section>

            <section id="total" class="mt-5">
                <h4>El total a pagar es de: </h4>
                <h1>$ 0.00</h1>
            </section>


            <!-- HELP, CAN'T CENTER BUTTON -->
            <div id="next-wrap" class="container-fluid">
                <button id="next" type="button" class="btn btn-primary bg-blue"
                    href="https://www.paypal.com/us/home">Proceder al pago</button>
            </div>

    </div>
    </div>
    <br>
    <% include partials/footer.ejs %>

</body>

</html>