<!DOCTYPE html>
<html lang="en">
    <head>
        <% include partials/helmet.ejs%>
    </head>
<body>
    <% include partials/header.ejs %>
    <div class="message">
        <h1>404</h1>
        <h2>Bad Request</h2> 
    </div>
    <div>
        <h2><%= error.status %></h2>
        <pre><%= error.stack %></pre>        
    </div>
    
</body>
</html>
