<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>Takeit.com</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
    <link rel="stylesheet" href="/stylesheets/estilosFH.css">
    <link rel='stylesheet' href="/stylesheets/estandares.css">
    <link rel="stylesheet" href="/node_modules/@fortawesome/fontawesome-free/css/all.css">
    <link rel="stylesheet" href="/stylesheets/nosotros.css">

    <link rel="stylesheet" href="/stylesheets/colors.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/header.responsive.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/style.responsive.css' />
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="stylesheet" href="/stylesheets/content.css">
    <link rel="stylesheet" href="/stylesheets/content.responsive.css">
    <link rel="stylesheet" href="/stylesheets/reserve-restaurant.css" />
    <link rel="stylesheet" href="/stylesheets/reserve-restaurant-responsive.css" />
    <link rel="stylesheet" href="/stylesheets/generaTuReserva.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">


</head>

<body class="content.css">
    <header>
        <div class="container">
            <div class="home">
                <a href="/">
                    <img src="/images/logo2.png" alt="main page" srcset="" span="Takeit">
                </a>
            </div>

            <nav>
                <div id="info">
                    <a class="t-link t-dark" href="/nosotros">¿Quienes somos?</a>
                </div>
                <div id="session">
                    <div id="logup" class="btn bg-indigo border-indigo t-white">
                        <span>Registrarse</span>
                    </div>
                    <div id="login" class="btn border-black t-black">
                        <span>Iniciar sesión</span>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    
    <div class="jumbotron bg-dark bg-image">
        <h1 class="t-bold t-white">Selecciona tus Entradas</h1>
        <p class="lead t-white">Escoge la fecha y hora en la que deseas degustar de una deliciosa comida</p>
    </div>

    <section id=barraNav>
        <div class="nav-reserve-selection">
            <ul class="list-nav-bar">
                <li><a class="reserve-menu" href="/seleccionarEntradas">Seleccionar tus entradas</a></li>
                <li><a class="reserve-menu" href="/seleccionarMesa">Seleciona tu mesa</a></li>
                <li><a class="reserve-menu" href="/pago">Pago</a></li>
                <li><a class="reserve-menu" href="/confirmacion">Confirmacion</a></li>
            </ul>
        </div>
    </section>

    <section>
        <div id="reserva-section">
            <div id="orden-section">
                <h2 class="title-reserve-section">Datos de la Reserva</h2>
                <div>
                    <div>
                        <img class="reserve-section-img" src="/images/restaurants/1.jpg" alt="main page" srcset="">
                    </div>
                    <div>
                        <h3 class="title-reserve-section">Parrillada del Ñato</h3>
                        <p>No es un lugar exclusivo, pero de seguro es un lugar donde la mezcla de aromas exquisitos extremecen tu paladar y presionan tus deseos por probar nuestros asados.</p>
                        <h4>Sucursal Norte</h4>
                        <h3 class="title-reserve-section">Valor: $0,00</h3>
                    </div>
                </div>
            </div>
            <div id="horario-section">
                <h2 class="title-reserve-section">Fechas y Horarios Disponibles</h2>
                <div id="fecha-reservables">
                    <div id="fecha-disponible">
                        <div>
                        <h5>Hoy. 6 de junio</h5>
                        </div>
                        <div id="horas-disponibles">
                        <div id="horario-disponible">
                            <h5>19:00pm</h5>
                        </div>
                        <div id="horario-disponible">
                            <h5>20:00pm</h5>
                        </div>
                        <div id="horario-disponible">
                            <h5>21:00pm</h5>
                        </div>
                        <div id="horario-disponible">
                            <h5>22:00pm</h5>
                        </div>
                        </div>
                    </div>

                    <div id="fecha-disponible">
                        <div>
                        <h5>Viernes. 7 de junio</h5>
                        </div>
                       <div id="horas-disponibles">
                        <div id="horario-disponible">
                            <h5>19:00pm</h5>
                        </div>
                        <div id="horario-disponible">
                            <h5>20:00pm</h5>
                        </div>
                        <div id="horario-disponible">
                            <h5>21:00pm</h5>
                        </div>
                        <div id="horario-disponible">
                            <h5>22:00pm</h5>
                        </div>
                        </div>
                    </div>
                    <div id="fecha-disponible">
                        <div>
                        <h5>Sábado. 7 de junio</h5>
                        </div>
                        <div id="horas-disponibles">
                        <div id="horario-disponible">
                            <h5>17:00pm</h5>
                        </div>
                        <div id="horario-disponible">
                            <h5>18:00pm</h5>
                        </div>
                        <div id="horario-disponible">
                            <h5>19:00pm</h5>
                        </div>
                        <div id="horario-disponible">
                            <h5>20:00pm</h5>
                        </div>
                        </div>
                    </div>
                    <div id="fecha-disponible">
                        <div>
                        <h5>Domingo. 9 de junio</h5>
                        </div>
                        <div id="horas-disponibles">
                        <div id="horario-disponible">
                            <h5>18:00pm</h5>
                        </div>
                        <div id="horario-disponible">
                            <h5>19:00pm</h5>
                        </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="tickect-section">
            <div class="tickets-section-titlte">
                <h2 class="title-reserve-section">Selecciona tus entradas</h2>
                <h2 class="title-reserve-section">Asientos disponibles: 000</h2>
            </div>
            <form action="processEntradas" method="post" name="seleccionarEntradas">
                <div class="item-entradas">
                    <h4 >Número de personas: </h4>
                    <input id="num-entradas" type="number" name="num-entradas" size="10">
                    <h4>x $0.00</h4>
                    <h4>$0.00</h4>
                </div>
            </form>
        </div>
    </section>
    <footer>
        <p> Visita nuestro perfil de <a href="https://github.com/fullstucks">Github</a></p>
        <hr width="30%">
        <p><a href="#">Volver al tope</a></p>
        <div class="btn-group">
            <h8 class="labelFooter">Copyright © Takeit.com 2019</h8>
        </div>
    </footer>
</body>

</html>