<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
  <link rel="stylesheet" href="/stylesheets/colors.css">
  <link rel="stylesheet" href="/stylesheets/header.css">
  <link rel="stylesheet" href="/stylesheets/header.mobile.css">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/style.mobile.css' />
  <link rel="stylesheet" href="/stylesheets/footer.css">
  <link rel="stylesheet" href="/stylesheets/content.css">
  <link rel="stylesheet" href="/stylesheets/content.mobile.css">
</head>

<body>
  <% include partials/header.ejs %>
  <div class="root">

    <section id="search-section">
      <div id="message-large" class="t-white">
        <span>Reserva tu mesa sin preocupaciones</span>
      </div>
      <span class="t-white t-title-small">Busca tu restaurante favorito</span>
      <form method="post">
          <input id="search-input" class="" 
                  name="text-input" 
                  placeholder=" Ubicación, restaurante, o menú" 
                  type="text">
          <input id="search-btn" type="submit" value="buscar">
      </form>

    <section>

    </section>
    <section>

    </section>
    
  </div>
</body>

</html>