<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
  <link rel="stylesheet" href="/stylesheets/colors.css">
  <link rel="stylesheet" href="/stylesheets/header.css">
  <link rel="stylesheet" href="/stylesheets/header.mobile.css">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/style.mobile.css' />
  <link rel="stylesheet" href="/stylesheets/footer.css">
  <link rel="stylesheet" href="/stylesheets/content.css">
  <link rel="stylesheet" href="/stylesheets/content.mobile.css">
</head>

<body>
  <% include partials/header.ejs %>
  <div class="root">

    <section id="search-section">
      <div id="message-large" class="t-white">
        <span>Reserva tu mesa sin preocupaciones</span>
      </div>
      <span class="t-white t-title-small">Busca tu restaurante favorito</span>
      <form method="post">
        <input id="search-input" class="" name="text-input" placeholder="  Ubicación, restaurante, o menú" type="text">
        <input id="search-btn" type="submit" value="buscar">
      </form>
    </section>

    <section>
      <div>
        <h2>Explora</h2>
        <div id="map">

        </div>
      </div>
    </section>
    .
    <section>
      <div id="recomendaciones" class="summary-section">
        <span>Restaurantes recomendados</span>
        <hr>
        <div class="cards-container">
          <div class="card">
            <div class="image-wrapper">
              <img src="/images/restaurants/1.jpg">
            </div>
            <div class="card-details">
              <h1>Miskay Restaurant</h1>
              <h3>15 reviews</h3>
              <h3>20 mesas disponibles</h3>
            </div>
          </div>
          <div class="card">
            <div class="image-wrapper">
              <img src="/images/restaurants/2.jpg">
            </div>
            <div class="card-details">
              <h1>Zinc</h1>
              <h3>15 reviews</h3>
              <h3>20 mesas disponibles</h3>
            </div>
          </div>
          <div class="card">
            <div class="image-wrapper">
              <img src="/images/restaurants/3.jpg">
            </div>
            <div class="card-details">
              <h1>Avocadictos</h1>
              <h3>15 reviews</h3>
              <h3>20 mesas disponibles</h3>
            </div>
          </div>
          <div class="card">
            <div class="image-wrapper">
              <img src="/images/restaurants/4.jpg">
            </div>
            <div class="card-details">
              <h1>El caifán</h1>
              <h3>15 reviews</h3>
              <h3>20 mesas disponibles</h3>
            </div>
          </div>
          <div class="card">
            <div class="image-wrapper">
              <img src="/images/restaurants/5.jpg">
            </div>
            <div class="card-details">
              <h1>Casa Julián</h1>
              <h3>15 reviews</h3>
              <h3>20 mesas disponibles</h3>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div id="tops" class="summary-section">
        <span>Mejores lugares en Guayaquil</span>
        <hr>
        <div class="cards-container">
          <div class="card">
            <div class="image-wrapper">
              <img src="/images/restaurants/1.jpg">
            </div>
            <div class="card-details">
              <h1>Miskay Restaurant</h1>
              <h3>15 reviews</h3>
              <h3>20 mesas disponibles</h3>
            </div>
          </div>
          <div class="card">
            <div class="image-wrapper">
              <img src="/images/restaurants/2.jpg">
            </div>
            <div class="card-details">
              <h1>Zinc</h1>
              <h3>15 reviews</h3>
              <h3>20 mesas disponibles</h3>
            </div>
          </div>
          <div class="card">
            <div class="image-wrapper">
              <img src="/images/restaurants/3.jpg">
            </div>
            <div class="card-details">
              <h1>Avocadictos</h1>
              <h3>15 reviews</h3>
              <h3>20 mesas disponibles</h3>
            </div>
          </div>
          <div class="card">
            <div class="image-wrapper">
              <img src="/images/restaurants/4.jpg">
            </div>
            <div class="card-details">
              <h1>El caifán</h1>
              <h3>15 reviews</h3>
              <h3>20 mesas disponibles</h3>
            </div>
          </div>
          <div class="card">
            <div class="image-wrapper">
              <img src="/images/restaurants/5.jpg">
            </div>
            <div class="card-details">
              <h1>Casa Julián</h1>
              <h3>15 reviews</h3>
              <h3>20 mesas disponibles</h3>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>
</body>

</html>