<!DOCTYPE html>
<html>

<head>
  <% include partials/helmet.ejs %>
</head>

<body>
  <% include partials/header.ejs %>
  <div class="root">

    
    <section id="search-section">
      <div id="message-large" class="t-white">
        <span>Reserva tu mesa sin preocupaciones</span>
      </div>
      <span class="t-white t-title-small">Busca tu restaurante favorito</span>
      <form method="post">
        <input id="search-input" class="" name="text-input" placeholder="  Ubicación, restaurante, o menú" type="text">
        <input id="search-btn" type="submit" value="buscar">
      </form>
      <script>

      </script>
    </section>

    <section style="visibility: hidden;" >
      <div id="mapa" class="summary-section">
        <hr>
      </div>
    </section>

    <section>
      <div class="summary-section">
        <div style="width: 90%;">
            <span>Restaurantes recomendados</span>
            <hr>
        </div>
        
        <div id="topgye" class="cards-container">

        </div>
      </div>
    </section>

    <section>
      <div class="summary-section">
        <div style="width: 90%;">
            <span>Zonas detacadas</span>
            <hr>
        </div>
        <div id="topzones">
          
        </div>
      </div>
    </section>

  </div>
  <% include partials/scripts.bundles.ejs %>
  <script src="bootstrap/jquery-3.4.1.min.js"></script>
  <script src="js/recommendations.js"></script>
</body>

</html>