<!DOCTYPE html>
<html lang="es">

<head>
    <title>Takeit.com - info Restaurante</title>
    <% include partials/helmet-bootstrap.ejs %>
</head>

<body>
    <% include partials/header-bootstrap.ejs %>

    <div class="container-fluid jumbotron">
        <section class="summary-section">
            <span>Volver a los Resultados</span>
        </section>
        <section>
            <div id="info-title">
                <div id="message-large-left" class="t-black">
                    <span>Eddy's BBQ</span>
                </div>
                <div class="btn t-white bg-blue takeit">
                    <span>takeit!</span>
                </div>
            </div>
            <hr>
            <p id=descripcion>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc dui ante,
                bibendum sed ullamcorper eget, tristique in ligula.
                Sed consequat eros sit amet sapien ultricies auctor.
                Suspendisse eu lorem odio. Interdum et malesuada fames
                ac ante ipsum primis in faucibus.</p>
            <div id="imagenes-restaurante">
                <div class="row">
                    <div class="column">
                        <img src="/images/restaurants/1.jpg">
                        <img src="/images/restaurants/2.jpg">
                        <img src="/images/search-bg2.jpg">
                    </div>
                    <div class="column">
                        <img src="/images/restaurants/5.jpg">
                        <img src="/images/search-bg.jpg">
                        <img src="/images/restaurants/4.jpg">
                    </div>
                    <div class="column">
                        <img src="/images/restaurants/1.jpg">
                        <img src="/images/search-bg2.jpg">
                        <img src="/images/restaurants/4.jpg">
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div id="recomendaciones" class="summary-section">
                <span>Platos</span>
                <hr>
                <p> Ofrecemos una amplica variedad de platos y combos de alitas:</p>
                <div id="imagenes-platos">
                    <div class="row">
                        <div class="column">
                            <img src="/images/restaurants/3.jpg">
                            <img src="/images/restaurants/4.jpg">
                            <img src="/images/search-bg2.jpg">
                        </div>
                        <div class="column">
                            <img src="/images/restaurants/5.jpg">
                            <img src="/images/search-bg.jpg">
                            <img src="/images/restaurants/3.jpg">
                        </div>
                        <div class="column">
                            <img src="/images/restaurants/4.jpg">
                            <img src="/images/search-bg2.jpg">
                            <img src="/images/restaurants/4.jpg">
                        </div>
                    </div>
                </div>
        </section>

        <section>
            <div id="tops" class="summary-section">
                <span>Otros también vieron</span>
                <hr>
                <div class="cards-container">
                    <div class="card open-details">
                        <div class="image-wrapper">
                            <img src="/images/restaurants/1.jpg">
                        </div>
                        <div class="card-details">
                            <h1>Miskay Restaurant</h1>
                            <h3>15 reviews</h3>
                            <h3>20 mesas disponibles</h3>
                        </div>
                    </div>
                    <div class="card open-details">
                        <div class="image-wrapper">
                            <img src="/images/restaurants/2.jpg">
                        </div>
                        <div class="card-details">
                            <h1>Zinc</h1>
                            <h3>15 reviews</h3>
                            <h3>20 mesas disponibles</h3>
                        </div>
                    </div>
                    <div class="card open-details">
                        <div class="image-wrapper">
                            <img src="/images/restaurants/3.jpg">
                        </div>
                        <div class="card-details">
                            <h1>Avocadictos</h1>
                            <h3>15 reviews</h3>
                            <h3>20 mesas disponibles</h3>
                        </div>
                    </div>
                    <div class="card open-details">
                        <div class="image-wrapper">
                            <img src="/images/restaurants/4.jpg">
                        </div>
                        <div class="card-details">
                            <h1>El caifán</h1>
                            <h3>15 reviews</h3>
                            <h3>20 mesas disponibles</h3>
                        </div>
                    </div>
                    <div class="card open-details">
                        <div class="image-wrapper">
                            <img src="/images/restaurants/5.jpg">
                        </div>
                        <div class="card-details">
                            <h1>Casa Julián</h1>
                            <h3>15 reviews</h3>
                            <h3>20 mesas disponibles</h3>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>

</html>