<!DOCTYPE html>
<html>
	<head>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Takeit: Sobre el Restaurante</title>
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&amp;subset=Latin">
        <link rel="stylesheet" href="../public/stylesheets/colors.css">
        <link rel="stylesheet" href="../public/stylesheets/header.css">
        <link rel="stylesheet" href="../public/stylesheets/header.responsive.css">
        <link rel="stylesheet" href="../public/stylesheets/style.css">
        <link rel="stylesheet" href="../public/stylesheets/style.responsive.css">
        <link rel="stylesheet" href="../public/stylesheets/footer.css">
        <link rel="stylesheet" href="../public/stylesheets/content.css">
        <link rel="stylesheet" href="../public/stylesheets/content.responsive.css">
        <link rel="stylesheet" href="../public/stylesheets/imagegrid.css">

    </head>
	<body>
        <header>
            <div class="container">
        
                <div class="home">
                        <a href="/">
                            <img src="../public/images/logo.png" alt="main page" srcset="">
                            <span>Takeit</span>
                        </a>
                </div>
        
                <nav>
                    <div id="info">
                        <a class="t-link t-dark" href="/nosotros.html">¿Quienes somos?</a>
                    </div>
                    <div id="session">
                        
                        <div id="logup" class="btn bg-indigo border-indigo t-white">
                            <span>Registrarse</span>
                        </div>
                        <div id="login" class="btn border-black t-black">
                            <span>Iniciar sesión</span>
                        </div>
                        
                    </div>
                </nav>
        
            </div>
        </header>
        
        <div class="root">
            <section class = "summary-section">
                <span>Volver a los Resultados</span>
            </section>
            <section>
                <div id="info-title">
                    <div id="message-large-left" class="t-black">
                        <span>Eddy's BBQ</span>
                    </div>
                    <div class="takeit-btn t-white bg-blue">
                        <span>takeit!</span>
                    </div>
                </div>
                <hr>
                <p id=descripcion>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc dui ante, 
                    bibendum sed ullamcorper eget, tristique in ligula. 
                    Sed consequat eros sit amet sapien ultricies auctor. 
                    Suspendisse eu lorem odio. Interdum et malesuada fames 
                    ac ante ipsum primis in faucibus.</p>
                <div id="imagenes-restaurante">
                    <div class="row">
                        <div class="column">
                            <img src="../public/images/restaurants/1.jpg">
                            <img src="../public/images/restaurants/2.jpg">
                            <img src="../public/images/search-bg2.jpg">
                        </div>
                        <div class="column">
                            <img src="../public/images/restaurants/5.jpg">
                            <img src="../public/images/search-bg.jpg">
                            <img src="../public/images/restaurants/4.jpg">
                        </div>
                        <div class="column">
                            <img src="../public/images/restaurants/1.jpg">
                            <img src="../public/images/search-bg2.jpg">                            <img src="../public/images/restaurants/4.jpg">
                        </div>
                    </div>
                </div>
            </section>
            
            <section>
                <div id="recomendaciones" class="summary-section">
                <span>Platos</span>
                <hr>
                <p> Ofrecemos una amplica variedad de platos y combos de alitas:</p>
                <div id="imagenes-platos">
                    <div class="row">
                        <div class="column">
                            <img src="../public/images/restaurants/3.jpg">
                            <img src="../public/images/restaurants/4.jpg">
                            <img src="../public/images/search-bg2.jpg">
                        </div>
                        <div class="column">
                            <img src="../public/images/restaurants/5.jpg">
                            <img src="../public/images/search-bg.jpg">
                            <img src="../public/images/restaurants/3.jpg">
                        </div>
                        <div class="column">
                            <img src="../public/images/restaurants/4.jpg">
                            <img src="../public/images/search-bg2.jpg">                            <img src="../public/images/restaurants/4.jpg">
                        </div>
                    </div>
                </div>
            </section>
        
            <section>
                <div id="tops" class="summary-section">
                <span>Otros también vieron</span>
                <hr>
                <div class="cards-container">
                    <div class="card">
                    <div class="image-wrapper">
                        <img src="../public/images/restaurants/1.jpg">
                    </div>
                    <div class="card-details">
                        <h1>Miskay Restaurant</h1>
                        <h3>15 reviews</h3>
                        <h3>20 mesas disponibles</h3>
                    </div>
                    </div>
                    <div class="card">
                    <div class="image-wrapper">
                        <img src="../public/images/restaurants/2.jpg">
                    </div>
                    <div class="card-details">
                        <h1>Zinc</h1>
                        <h3>15 reviews</h3>
                        <h3>20 mesas disponibles</h3>
                    </div>
                    </div>
                    <div class="card">
                    <div class="image-wrapper">
                        <img src="../public/images/restaurants/3.jpg">
                    </div>
                    <div class="card-details">
                        <h1>Avocadictos</h1>
                        <h3>15 reviews</h3>
                        <h3>20 mesas disponibles</h3>
                    </div>
                    </div>
                    <div class="card">
                    <div class="image-wrapper">
                        <img src="../public/images/restaurants/4.jpg">
                    </div>
                    <div class="card-details">
                        <h1>El caifán</h1>
                        <h3>15 reviews</h3>
                        <h3>20 mesas disponibles</h3>
                    </div>
                    </div>
                    <div class="card">
                    <div class="image-wrapper">
                        <img src="../public/images/restaurants/5.jpg">
                    </div>
                    <div class="card-details">
                        <h1>Casa Julián</h1>
                        <h3>15 reviews</h3>
                        <h3>20 mesas disponibles</h3>
                    </div>
                    </div>
                </div>
                </div>
            </section>
        
            </div>                
	</body>
</html>