<!DOCTYPE html>
<html lang="es">

<head>
    <title>Takeit: Quiénes Somos</title>
    <% include partials/helmet-bootstrap.ejs %>
    <link rel="stylesheet" href="/stylesheets/nosotros.css">

</head>

<body>
    <% include partials/header-bootstrap.ejs %>
    <div class="jumbotron bg-dark bg-image">
        <h1 class="t-bold t-white">Conócenos</h1>
        <p class="lead t-white">Somos un equipo de desarrollo de la materia Desarrollo de Aplicaciones Web, del
            término 20191S dedicados a terminar el proyecto</p>
    </div>
    <div class="container-fluid">
        <div class="container">
            <h3 class="t-bold">Contáctanos</h3>
            <hr class="my-4">
            <form>
                <div class="form-group">
                    <label for="name-input">Nombres</label>
                    <input type="text" class="form-control" id="name_input" aria-describedby="Ingreso de Nombres"
                        placeholder="John">
                    <label for="lastname-input">Apellidos</label>
                    <input type="text" class="form-control" id="lastname_input" aria-describedby="Ingreso de Apellidos"
                        placeholder="Doe">
                    <label for="telephone-input">Teléfono</label>
                    <input type="text" class="form-control" id="telephone_input" aria-describedby="Ingreso de Teléfono"
                        placeholder="0987315564">

                    <label for="exampleInputEmail1">Correo electrónico</label>
                    <input type="email" class="form-control" id="email_input"
                        aria-describedby="Ingreso de Correo electrónico" placeholder="johndoe@ejemplo.com">

                    <label for="subject-input">Asunto</label>
                    <textarea type="text" class="form-control" id="subject_input" aria-describedby="Ingreso de Asunto"
                        placeholder="Escriba el motivo de la solicitud" rows="3"></textarea>
                    <small id="email_help" class="form-text text-muted">Las respuestas se envían en 1 día o más</small>
                </div>

                <button type="submit" class="btn btn-primary bg-blue">Enviar</button>
            </form>

            <br /><br />

            <h3 class="t-bold t-black">Estamos en</h3>
            <hr class="my-4">
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <img src="/images/social/facebook.png" alt="facebook" href="https://www.facebook.com">
                        <a class="t-link t-dark" href="https://www.facebook.com">Facebook</a>
                    </div>
                    <div class="col-sm">
                            <img src="/images/social/twitter.png" alt="twitter" href="https://www.twitter.com">
                        <a class="t-link t-dark" href="https://www.twitter.com">Twitter</a>
                    </div>
                    <div class="col-sm">
                            <img src="/images/social/instagram.png" alt="instagram" href="https://www.instagram.com">

                        <a class="t-link t-dark" href="https://www.instagram.com/">Instagram</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <% include partials/footer.ejs %>
</body>

</html>