<!DOCTYPE html>
<html lang="en">
    <head>
        <% include partials/helmet.ejs%>
    </head>

<body>
    <% include partials/header.ejs %>
    <div class="message">
        <h1 style="margin: 60px;">On development...</h1>
    </div>
    
</body>
</html>
