<!DOCTYPE html>
<html lang="es">
    <head>
    	<meta charset="utf-8">
    	<title>Takeit.com</title>
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
        <link rel="stylesheet" href="/stylesheets/colors.css">
        <link rel="stylesheet" href="/stylesheets/header.css">
        <link rel="stylesheet" href="/stylesheets/header.responsive.css">
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel='stylesheet' href='/stylesheets/style.responsive.css' />
        <link rel="stylesheet" href="/stylesheets/footer.css">
        <link rel="stylesheet" href="/stylesheets/content.css">
        <link rel="stylesheet" href="/stylesheets/content.responsive.css">
        <link rel="stylesheet" href="/stylesheets/sectionSubMenu.css"/>

    </head>

    <body>
    	<header>
    		<div class='container'>
    			<div class='home'>
    				<a href="/">
    				<img src="/images/logo.png" alt="main page" srcset="">
    				<span>Takeit</span>
    			    </a>
    		    </div>
    		    <nav> 
    		    	<div id="info">
    		    		<a class="t-link t-dark" href="/nosotros">Quienes somos?</a>
    		    	</div>
    		    	<div id="session">
    		    		<div id="logup" class="btn bg-indigo border-indigo t-white">
                           <span>Registrarse</span>
                        </div>
                        <div id="login" class="btn border-black t-black">
                           <span>Iniciar sesión</span>
                        </div>
    		    	</div>
                </nav>
    		</div>
    	</header>
        <section>
             <div class="selection">
                <nav>
                    <a class="submenu" href="/seleccionarEntradas">Seleccionar tus entradas</a>
                    <a class="submenu" href="/seleccionarMesa">Seleciona tu mesa</a>
                    <a class="submenu" href="/pago">Pago</a>
                    <a class="submenu" href="/confirmacion">Confirmacion</a>      
                </nav>
            </div>
        </section>
    </body>
    </html>
        
    	