<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>Takeit.com</title>
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
        <link rel="stylesheet" href="/stylesheets/colors.css">
        <link rel="stylesheet" href="/stylesheets/header.css">
        <link rel="stylesheet" href="/stylesheets/header.responsive.css">
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel='stylesheet' href='/stylesheets/style.responsive.css' />
        <link rel="stylesheet" href="/stylesheets/footer.css">
        <link rel="stylesheet" href="/stylesheets/content.css">
        <link rel="stylesheet" href="/stylesheets/content.responsive.css">
        <link rel="stylesheet" href="/stylesheets/reserve-restaurant.css"/>
        <link rel="stylesheet" href="/stylesheets/reserve-restaurant-responsive.css"/> 
    </head>

    <body>
        <header>
            <div class='container'>
                <div class='home'>
                    <a href="/">
                    <img src="/images/logo2.png" alt="main page" srcset="">
                    
                    </a>
                </div>
                <nav> 
                    <div id="info">
                        <a class="t-link t-dark" href="/nosotros">Quienes somos?</a>
                    </div>
                    <div id="session">
                        <div id="logup" class="btn bg-indigo border-indigo t-white">
                           <span>Registrarse</span>
                        </div>
                        <div id="login" class="btn border-black t-black">
                           <span>Iniciar sesión</span>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
        <section>
            <div class="nav-reserve-selection">
                    <ul class="list-nav-bar">
                    <li><a class="reserve-menu" href="/seleccionarEntradas">Seleccionar tus entradas</a></li>
                    <li><a class="reserve-menu" href="/seleccionarMesa">Seleciona tu mesa</a></li>
                    <li><a class="reserve-menu" href="/pago">Pago</a></li>
                    <li><a class="reserve-menu" href="/confirmacion">Confirmacion</a></li>
                </ul>
            </div>
        </section>
    </body>
    </html>
        
        