<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>Takeit.com</title>
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
        <link rel="stylesheet" href="/stylesheets/colors.css">
        <link rel="stylesheet" href="/stylesheets/header.css">
        <link rel="stylesheet" href="/stylesheets/header.responsive.css">
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel='stylesheet' href='/stylesheets/style.responsive.css' />
        <link rel="stylesheet" href="/stylesheets/footer.css">
        <link rel="stylesheet" href="/stylesheets/content.css">
        <link rel="stylesheet" href="/stylesheets/content.responsive.css">
        <link rel="stylesheet" href="/stylesheets/reserve-restaurant.css"/>
        <link rel="stylesheet" href="/stylesheets/reserve-restaurant-responsive.css"/> 
    </head>

    <body>
        <header>
            <div class='container'>
                <div class='home'>
                    <a href="/">
                    <img src="/images/logo2.png" alt="main page" srcset="">
                    
                    </a>
                </div>
                <nav> 
                    <div id="info">
                        <a class="t-link t-dark" href="/nosotros">Quienes somos?</a>
                    </div>
                    <div id="session">
                        <div id="logup" class="btn bg-indigo border-indigo t-white">
                           <span>Registrarse</span>
                        </div>
                        <div id="login" class="btn border-black t-black">
                           <span>Iniciar sesión</span>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
        
        <section>
            <div class="nav-reserve-selection">
                    <ul class="list-nav-bar">
                    <li><a class="reserve-menu" href="/seleccionarEntradas">Seleccionar tus entradas</a></li>
                    <li><a class="reserve-menu" href="/seleccionarMesa">Seleciona tu mesa</a></li>
                    <li><a class="reserve-menu" href="/pago">Pago</a></li>
                    <li><a class="reserve-menu" href="/confirmacion">Confirmacion</a></li>
                </ul>
            </div>
        </section>
            <div class="format-form title-form - subtitle-form text-form ">
                <div id="information-client-restaurant">
                    <h2>Personas a enlistar</h2>
                    <p>Mencione el nombre de sus acompañantes</p>
                    <form id="acompañantes">
                        <input type="checkbox" name="activarLista">
                        <input type="text" name="lista-acompañantes" size='80'>
                    </form>
                </div>
                <div id="confirmar-orden">
                    <div id="datos-reserva-section">
                        <div>
                        <img class="reserve-section-img" src="/images/restaurants/1.jpg" alt="main page" srcset="">
                        </div>
                        <div>
                             <h3 class = "title-reserve-section">Parrillada del Ñato</h3>
                             <p>No es un lugar exclusivo, pero de seguro es un lugar donde la mezcla de aromas exquisitos extremecen tu paladar y presionan tus deseos por probar nuestros asados.</p>
                             <h4>Sucursal Norte</h4>
                             <h3 class = "title-reserve-section">Valor: $0,00</h3>
                        </div>
                    </div>

                    <div id="resumen-section">
                        <div id="resumen-subjects">
                            <h4>Fecha:</h4> 
                            <h4>Hora:</h4> 
                            <h4>Mesa:</h4> 
                            <h4>Asientos:</h4>
                            <h4>Cantidad:</h4>
                        </div>
                        <div id="resumen-answers">
                            <h4>6,junio 2019</h4>
                             <h4>19:00pm</h4>
                             <h4>A1</h4>
                             <h4>A11 A12 A13 A14</h4>
                             <h4>:4</h4>
                        </div>
                    </div>
                    
                    <div id="condiciones-section">
                        <form id="confirmacion-terminos">
                            <input type="checkbox" name="aceptar-terminos"><label>He leido y acepto los términos y condiciones del servicio</label>
                    </div>
                </div>
            </div>
        <section>
            
        </section>
    </body>
    </html>
        
        