<!DOCTYPE html>
<html lang="es">

<head>
    <% include partials/helmet-bootstrap.ejs %>
</head>

<body>
    <% include partials/header-bootstrap-in.ejs %>

        <section>
            <div class="jumbotron bg-dark bg-image">
                <h1 class="t-bold t-white">Tus Reservas</h1>
                <p class="lead t-white">En esta sección podrás revisar tus reservas realizadas</p>
            </div>

            <div class="container-fluid" style="margin-left: 10px">
                <h2><strong>Reservaciones disponibles</strong></h2>
                <hr width="100%" noshade>
            </div>

            <div class="container-fluid">
                <div class="cardContainer row">
                    <div class="d-flex align-items-stretch">
                        <div class="card">
                            <img src="images/restaurants/1.jpg" class="image-wrapper card-img-top img-fluid imgResponsive" alt="Restaurante1">
                            <div class="card-body">
                                <h5 class="card-title"><strong>Miskay Restaurant</strong></h5>
                                <hr> </hr>
                                <h6 class="card-subtitle mb-2 text-muted"><strong>Reserva para:</strong></h6>
                                <p class="card-text">8 personas</p>
                                <h6 class="card-subtitle mb-2 text-muted"><strong>Fecha de reserva:</strong></h6>
                                <p class="card-text">30 de junio de 2019</p>
                                <h6 class="card-subtitle mb-2 text-muted"><strong>Dirección:</strong></h6>
                                <p class="card-text">Urdesa</p>
                                <h6 class="card-subtitle mb-2 text-muted"><strong>Información extra:</strong></h6>
                                <p class="card-text">1 silla para bebés</p>
                                <a href="#" class="btn btn-secondary btnRegistro"><strong>Cancelar Reservación</strong></a>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex align-items-stretch">
                        <div class="card">
                            <img src="images/restaurants/2.jpg" class="card-img-top img-fluid imgResponsive" alt="Restaurante2">
                            <div class="card-body">
                                <h5 class="card-title"><strong>Avocaditos</strong></h5>
                                <hr> </hr>
                                <h6 class="card-subtitle mb-2 text-muted"><strong>Reserva para:</strong></h6>
                                <p class="card-text">4 personas</p>
                                <h6 class="card-subtitle mb-2 text-muted"><strong>Fecha de reserva:</strong></h6>
                                <p class="card-text">14 de julio de 2019</p>
                                <h6 class="card-subtitle mb-2 text-muted"><strong>Dirección:</strong></h6>
                                <p class="card-text">Urdesa</p>
                                <h6 class="card-subtitle mb-2 text-muted"><strong>Información extra:</strong></h6>
                                <p class="card-text">---</p>
                                <a href="#" class="btn btn-secondary btnRegistro"><strong>Cancelar Reservación</strong></a>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex align-items-stretch">
                        <div class="card">
                            <img src="images/restaurants/3.jpg" class="card-img-top img-fluid imgResponsive" alt="Restaurante3">
                            <div class="card-body">
                                <h5 class="card-title"><strong>Lo Nuestro</strong></h5>
                                <hr> </hr>
                                <h6 class="card-subtitle mb-2 text-muted"><strong>Reserva para:</strong></h6>
                                <p class="card-text">6 personas</p>
                                <h6 class="card-subtitle mb-2 text-muted"><strong>Fecha de reserva:</strong></h6>
                                <p class="card-text">12 de junio de 2019</p>
                                <h6 class="card-subtitle mb-2 text-muted"><strong>Dirección:</strong></h6>
                                <p class="card-text">Urdesa</p>
                                <h6 class="card-subtitle mb-2 text-muted"><strong>Información extra:</strong></h6>
                                <p class="card-text">---</p>
                                <a href="#" class="btn btn-secondary btnRegistro"><strong>Cancelar Reservación</strong></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <% include partials/footer.ejs %>

            <!-- Optional JavaScript -- >
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
            <% include partials/scripts.bundles.ejs %>
</body>

</html>