<!DOCTYPE html>
<html lang="es">

<head>
    <% include partials/helmet-bootstrap.ejs %>
</head>

<body>
    <% include partials/header-bootstrap.ejs %>

    <section class="container-fluid jumbotron imgJumbotron text-white">
        <br />
        <h1 class="display-3"><strong>Tus Reservas</strong></h1>
        <br /><br />
        <br /><br />
        <h4>¡Recuerda que puedes cancelar tus reservaciones hasta 12 horas antes de la fecha reservada!</h4>
        <br />
    </section>

    <section class="container-fluid" style="margin-left: 10px">
        <br />
        <h5>Reservaciones disponibles:</h5>
        <hr width="100%" noshade>
    </section>

    <section class="container-fluid">
        <div class="cardContainer row">
            <div class="d-flex align-items-stretch">  <!-- col-md-10 col-lg-4 -->
                <div class="card">
                    <img src="images/restaurants/1.jpg" class="image-wrapper card-img-top img-fluid imgResponsive" alt="Restaurante1">
                    <div class="card-body">
                        <h5 class="card-title"><strong>Miskay Restaurant</strong></h5>
                        <hr> </hr>
                        <h6 class="card-subtitle mb-2 text-muted"><strong>Reserva para:</strong></h6>
                        <p class="card-text">8 personas</p>
                        <h6 class="card-subtitle mb-2 text-muted"><strong>Fecha de reserva:</strong></h6>
                        <p class="card-text">30 de junio de 2019</p>
                        <h6 class="card-subtitle mb-2 text-muted"><strong>Dirección:</strong></h6>
                        <p class="card-text">Urdesa</p>
                        <h6 class="card-subtitle mb-2 text-muted"><strong>Información extra:</strong></h6>
                        <p class="card-text">1 silla para bebés</p>
                        <a href="#" class="btn btn-secondary btnRegistro"><strong>Cancelar Reservación</strong></a>
                    </div>
                </div>
            </div>
            <div class="d-flex align-items-stretch">  <!-- col-md-10 col-lg-4 -->
                <div class="card">
                    <img src="images/restaurants/2.jpg" class="card-img-top img-fluid imgResponsive" alt="Restaurante2">
                    <div class="card-body">
                        <h5 class="card-title"><strong>Avocaditos</strong></h5>
                        <hr> </hr>
                        <h6 class="card-subtitle mb-2 text-muted"><strong>Reserva para:</strong></h6>
                        <p class="card-text">4 personas</p>
                        <h6 class="card-subtitle mb-2 text-muted"><strong>Fecha de reserva:</strong></h6>
                        <p class="card-text">14 de julio de 2019</p>
                        <h6 class="card-subtitle mb-2 text-muted"><strong>Dirección:</strong></h6>
                        <p class="card-text">Urdesa</p>
                        <h6 class="card-subtitle mb-2 text-muted"><strong>Información extra:</strong></h6>
                        <p class="card-text">---</p>
                        <a href="#" class="btn btn-secondary btnRegistro"><strong>Cancelar Reservación</strong></a>
                    </div>
                </div>
            </div>
            <div class="d-flex align-items-stretch">  <!-- col-md-10 col-lg-4 -->
                <div class="card">
                    <img src="images/restaurants/3.jpg" class="card-img-top img-fluid imgResponsive" alt="Restaurante3">
                    <div class="card-body">
                        <h5 class="card-title"><strong>Lo Nuestro</strong></h5>
                        <hr> </hr>
                        <h6 class="card-subtitle mb-2 text-muted"><strong>Reserva para:</strong></h6>
                        <p class="card-text">6 personas</p>
                        <h6 class="card-subtitle mb-2 text-muted"><strong>Fecha de reserva:</strong></h6>
                        <p class="card-text">12 de junio de 2019</p>
                        <h6 class="card-subtitle mb-2 text-muted"><strong>Dirección:</strong></h6>
                        <p class="card-text">Urdesa</p>
                        <h6 class="card-subtitle mb-2 text-muted"><strong>Información extra:</strong></h6>
                        <p class="card-text">---</p>
                        <a href="#" class="btn btn-secondary btnRegistro"><strong>Cancelar Reservación</strong></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="container-fluid navbar sticky-top navbar-expand-lg navbar-light navbarFooter">
        <div class="btn-group">
            <h5 class="labelFooter"><strong>¿Quiénes somos?</strong></button>
        </div>
        <div class="btn-group">
            <h5 class="labelFooter"><strong>Todos los derechos reservados ®</strong></button>
        </div>
    </footer>

    <!-- Optional JavaScript -- >
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <% include partials/scripts.bundles.ejs %>
</body>

</html>