<!DOCTYPE html>
<html lang="en">
  <head>
      <% include partials/helmet.ejs%>
      <link rel="stylesheet" href="/stylesheets/result.css">
      <link rel="stylesheet" href="/stylesheets/result.responsive.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

<body>
  <% include partials/header.ejs%>
  <section id="search-section">
    <span class="t-white t-title-small">Busca tu restaurante favorito</span>
    <form method="post">
      <input id="search-input" class="" name="text-input" placeholder="  Ubicación, restaurante, o menú" type="text">
      <input id="search-btn" type="submit" value="buscar">
    </form>
  </section>

  <div class="resultados summary-section" >
    <span>Resultados</span>
    
    <div class="result_container">
      <div class="result-box">
          <img src="/images/restaurants/1.jpg">
          <div class="description">
              <h1>Miskay Restaurant</h1>
              <div class="star-rating">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
              </div>

              <h3>15 reviews</h3>
              <h3>20 mesas disponibles</h3>
              <p>
                  It's a fine dining restaurant, associated to RELAIS&CHATEAUX, 
                  which offers an unrivaled gastronomic experience.
                  Influenced by Ecuadorian culture and tradition, unveils the best quality standards.
              </p>
          </div>
          <div class="options">
              <button class="takeit">take it!</button>
          </div>
      </div>
      
      <div class="result-box">
          <img src="/images/restaurants/2.jpg">
          <div class="description">
              <h1>Miskay Restaurant</h1>
              <div class="star-rating">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
              </div>
              <h3>15 reviews</h3>
              <h3>20 mesas disponibles</h3>
              <p>
                  It's a fine dining restaurant, associated to RELAIS&CHATEAUX, 
                  which offers an unrivaled gastronomic experience.
                  Influenced by Ecuadorian culture and tradition, unveils the best quality standards.
              </p>
          </div>
          <div class="options">
              <button class="takeit">take it!</button>
          </div>
      </div>
   
      <div class="result-box">
          <img src="/images/restaurants/3.jpg">
          <div class="description">
              <h1>Miskay Restaurant</h1>
              <div class="star-rating">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
              </div>
              <h3>15 reviews</h3>
              <h3>20 mesas disponibles</h3>
              <p>
                  It's a fine dining restaurant, associated to RELAIS&CHATEAUX, 
                  which offers an unrivaled gastronomic experience.
                  Influenced by Ecuadorian culture and tradition, unveils the best quality standards.
              </p>
          </div>
          <div class="options">
              <button class="takeit">take it!</button>
          </div>
      </div>
    
      <div class="result-box">
          <img src="/images/restaurants/1.jpg">
          <div class="description">
              <h1>Miskay Restaurant</h1>
              <div class="star-rating">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
              </div>
              <h3>15 reviews</h3>
              <h3>20 mesas disponibles</h3>
              <p>
                  It's a fine dining restaurant, associated to RELAIS&CHATEAUX, 
                  which offers an unrivaled gastronomic experience.
                  Influenced by Ecuadorian culture and tradition, unveils the best quality standards.
              </p>
          </div>
          <div class="options">
              <button class="takeit">take it!</button>
          </div>
      </div>
      
      <div class="result-box">
          <img src="/images/restaurants/2.jpg">
          <div class="description">
              <h1>Miskay Restaurant</h1>
              <div class="star-rating">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
              </div>
              <h3>15 reviews</h3>
              <h3>20 mesas disponibles</h3>
              <p>
                  It's a fine dining restaurant, associated to RELAIS&CHATEAUX, 
                  which offers an unrivaled gastronomic experience.
                  Influenced by Ecuadorian culture and tradition, unveils the best quality standards.
              </p>
          </div>
          <div class="options">
              <button class="takeit">take it!</button>
          </div>
      </div>
    </div>
  </div>

  </div>
  <script src="js/home.js"></script>
</body>

</html>