<!DOCTYPE html>
<html lang="es">
    <head>
    	<meta charset="utf-8">
    	<title>Takeit.com</title>
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
        <link rel="stylesheet" href="/stylesheets/colors.css">
        <link rel="stylesheet" href="/stylesheets/header.css">
        <link rel="stylesheet" href="/stylesheets/header.responsive.css">
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel='stylesheet' href='/stylesheets/style.responsive.css' />
        <link rel="stylesheet" href="/stylesheets/footer.css">
        <link rel="stylesheet" href="/stylesheets/content.css">
        <link rel="stylesheet" href="/stylesheets/content.responsive.css">
        <link rel="stylesheet" href="/stylesheets/sectionSubMenu.css"/>    
    </head>

    <body>
        <header>
            <div class='container'>
                <div class='home'>
                    <a href="/">
                    <img src="/images/logo.png" alt="main page" srcset="">
                    <span>Takeit</span>
                    </a>
                </div>
                <nav> 
                    <div id="info">
                        <a class="t-link t-dark" href="/nosotros">Quienes somos?</a>
                    </div>
                    <div id="session">
                        <div id="logup" class="btn bg-indigo border-indigo t-white">
                           <span>Registrarse</span>
                        </div>
                        <div id="login" class="btn border-black t-black">
                           <span>Iniciar sesión</span>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
        <section id=barraNav>
             <div class="selection">
                <nav>
                    <ul>
                    <li><a class="submenu" href="/seleccionarEntradas">Seleccionar tus entradas</a></li>
                    <li><a class="submenu" href="/seleccionarMesa">Seleciona tu mesa</a></li>
                    <li><a class="submenu" href="/pago">Pago</a></li>
                    <li><a class="submenu" href="/confirmacion">Confirmacion</a></li>
                </ul>
                </nav>
            </div>
        </section>
        <section>
            <div class="reserva">
                <div class="orden">
                    <h2 class = "titleReserce">Datos de la Reserva</h2><hr>

                    <div>
                        <div>
                        <img src="/images/restaurants/1.jpg" alt="main page" srcset="">
                        </div>
                        <div>
                             <h3 class = "titleReserce">Parrillada del Ñato</h3>
                             <h4>Sucursal Norte</h4>
                             <h3 class = "titleReserce">Valor: $0,00</h3>
                        </div>
                    </div>
                </div>
                <div class="horario">
                    <h2 class = "titleReserce">Selección de Horario</h2><hr />
                    <div>
                    <h3 class = "titleReserce">Fecha:</h3>
                    <h4>Jueves. 6 de junio</h4>
                    </div>
            </div>
        </section>
        <section>
            <div class="selectMesa">
                <div class="escogerMesa">
                    <h2 class = "titleReserce">Seleccione su Mesa</h2><hr>

                    <div>
                        
                        <img id="imgR" src="/images/mesas.png" alt="main page" srcset="">
                        
                    </div>
                </div>
            </div>
            </section>
        <footer>
            <h2>@Copyrigth</h2>
        </footer>
    </body>
    </html>
        