<!DOCTYPE html>
<html lang="es">

<head>
    <title>Takeit: Quiénes Somos</title>
    <% include partials/helmet-bootstrap.ejs %>
    <link rel="stylesheet" href="/stylesheets/seleccionarEntradas.css">

</head>

<body>
    <% include partials/header-bootstrap.ejs %>
    <div class="jumbotron bg-dark bg-image">
        <h1 class="t-bold t-white">Arma tu reserva</h1>
        <p class="lead t-white">Cuando quieras y como quieras</p>
    </div>
</body>