#search-section {
    margin: 0;
    text-align: center;
    justify-items: center;
    padding: 30px;
    background: url(/assets/images/search-bg2.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

#message-large {
    width: 50%;
    text-align: center;
    justify-content: center;
    margin: 140px auto;
    margin-bottom: 150px;
}

#message-large-left {
    text-align: left;
}

#message-large-left span {
    font-size: 70pt;
    font-weight: bold;
}

#message-large span {
    font-size: 40pt;
    font-weight: bold;
}

.summary-section {
    width: 98%;
    margin: 25px auto;
}

.summary-section span {
    font-size: 27pt;
    font-weight: bold;
    color: var(--dark)
}

@media only screen and (max-width: 960px) {
    #message-large {
        width: 50%;
        text-align: center;
        justify-content: center;
        margin: 70px auto;
    }
    #message-large span {}
    #search-section {}
    .summary-section span {}
}

@media only screen and (max-width: 760px) {
    #message-large {
        width: 50%;
        text-align: center;
        justify-content: center;
        margin: 70px auto;
    }
    #message-large span {
        font-size: 20pt;
        font-weight: bold;
    }
    #search-section {
        padding: 15px;
    }
    .summary-section span {
        font-size: 18pt;
        font-weight: bold;
    }
}