<div class="root">

    <section id="search-section">
        <div id="message-large" class="t-white">
            <span>Reserva tu mesa sin preocupaciones</span>
        </div>
        <app-search></app-search>
    </section>

    <section style="visibility: hidden;">
        <div id="mapa" class="summary-section">
            <hr>
        </div>
    </section>

    <section>
        <div class="summary-section">
            <div>
                <span>Restaurantes recomendados</span>
                <hr>
            </div>

            <app-topgye>

            </app-topgye>

        </div>
    </section>

    <section>
        <div class="summary-section">
            <div>
                <span>Zonas destacadas</span>
                <hr>
            </div>
            <app-topzones>

            </app-topzones>
        </div>
    </section>

    <section>
        <div class="summary-section">
            <div>
                <span>Noticias</span>
                <hr>
            </div>
            <app-noticias>

            </app-noticias>
        </div>
    </section>

</div>