<div class="root">

  <section id="search-section">
    <div id="message-large" class="t-white">
      <span>Reserva tu mesa sin preocupaciones</span>
    </div>
    <app-search></app-search>
  </section>

  <div class="container-fluid mt-5">

    <section>
      <h3 class="t-bold">Recomendados</h3>
      <hr class="my-4">
      <app-topgye>
      </app-topgye>
    </section>

    <section>
      <h3 class="t-bold">Zonas</h3>
      <hr class="my-4">
      <app-topzones>
      </app-topzones>
    </section>
  </div>

</div>