<div class="jumbotron bg-image">
    <h1 class="t-bold t-white">Conócenos</h1>
    <p class="lead t-white">Somos un equipo de desarrollo de la materia Desarrollo de Aplicaciones Web, del
        término 20191S dedicados a terminar el proyecto</p>
</div>
<div class="container-fluid">
    <h3 class="t-bold t-black">Contáctanos</h3>
    <hr class="my-4">
    <div class="container">

        <form>
            <div class="form-group">
                <label >Nombres</label>
                <input type="text" class="form-control" id="name_input" 
                    placeholder="John">
                <label >Apellidos</label>
                <input type="text" class="form-control" id="lastname_input" 
                    placeholder="Doe">
                <label >Teléfono</label>
                <input type="text" class="form-control" id="telephone_input" 
                    placeholder="0987315564">
                <label >Lugar de Origen</label>
                <select class="form-control" id="origin_input" >
                    <option value="" hidden="">Selecciona tu Ciudad</option>
                    <option value="Guayaquil">Guayaquil</option>
                    <option value="Quito">Quito</option>
                    <option value="Cuenca">Cuenca</option>
                </select>
                <label> orreo electrónico</label>
                <input type="email" class="form-control" id="email_input"
                    placeholder="johndoe@ejemplo.com">

                <label >Asunto</label>
                <input type="text" class="form-control" id="subject_input" 
                    placeholder="Escriba el motivo de la solicitud">
                <small id="email_help" class="form-text text-muted">Las respuestas se envían en 1 día o más</small>
            </div>

            <button type="submit" class="btn btn-primary bg-blue">Enviar</button>
        </form>
    </div>

        <br /><br />

        <h3 class="t-bold t-black">Estamos en</h3>
        <hr class="my-4">
        <div class="container">
            <div class="row">
                <div class="col-sm mt-3">
                    <img src="assets/images/social/facebook.png" alt="facebook">
                    <a class="t-link t-dark ml-2" href="https://www.facebook.com">Facebook</a>
                </div>
                <div class="col-sm mt-3">
                    <img src="assets/images/social/twitter.png" alt="twitter" >
                    <a class="t-link t-dark ml-2" href="https://www.twitter.com">Twitter</a>
                </div>
                <div class="col-sm mt-3">
                    <img src="assets/images/social/instagram.png" alt="instagram">
                    <a class="t-link t-dark ml-2" href="https://www.instagram.com/">Instagram</a>
                </div>
            </div>
        </div>
</div>