:root {
    --primary-light:#e5fcc2;
    --secondary-light: #9de0ad;
    --primary-blue: #45ada8;
    --primary-indigo: #547980;
    --dark: #594f4f;
    --white: #FFFFFF;


    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
  }
  