@media screen and (max-device-width: 500px){
    #message-large span{
        font-size: 45pt;
        font-weight: bold;
    }

    .t-title-small{
        font-size: 30pt;
    }

    #search-section form {
        width: 90%;
    }
    #search-input, #search-btn {
        height: 60px;
        font-size: 25pt;
    }
    #search-btn{
        width: 200px;
    }

    .summary-section{
        margin: 40px;
    }
    .cards-container{
        flex-direction: column;
        align-content: center;
    }

    .card{
        margin: 30px;
        width: 60%;
    }

    .card-details h1{
        font-size: 35pt;
    }
    .card-details h3{
        font-size: 30pt;
    }
    .image-wrapper{
        height: 300px;
    }
}

@media screen and (max-width: 820px){
    #message-large span{
        font-size: 30pt;
        font-weight: bold;
    }

    .t-title-small{
        font-size: 20pt;
    }

    #search-section form {
        width: 100%;
    }
    #search-input, #search-btn {
        height: 40px;
        font-size: 10pt;
    }
    #search-btn{
        width: 20%;
    }

    .cards-container{
        flex-direction: column;
        align-content: center;
        overflow: auto;
    }

    .card{
        margin: 30px;
        width: 60%;
    }

    .card:hover{
        margin-bottom: 60px;
    }
}