* {
    margin: 0;
    font: 14px "Ubuntu", Helvetica, Arial, sans-serif;
}


#message-large {
    width: 50%;
    text-align: center;
    margin: 140px auto;
    margin-bottom: 150px;
    
}

#message-large span {
    font-size:  50pt;
    font-weight: bold;
}

#search-section {
    margin: 0;
    text-align: center;
    justify-items: center;
    padding: 30px;
    background: url(/images/search-bg2.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

#search-section form {
    justify-content: space-evenly;
    display: flex;
    width: 50%;
    margin: 10px auto;
}


#search-input {
    margin: 15px;
    width: 75%;
    height: 35px;
    border-radius: 5px;
    border: transparent;
}

#search-btn {
    background-color: var(--primary-blue);
    border-radius: 5px;
    border: transparent;
    margin: 15px;
    width: 15%;
    color: white;
    font-weight: bold;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: center;
}


.map-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

iframe{
    margin: 10px;
}


.summary-section{
    margin: 25px;
}
.summary-section span{
    font-size: 16pt;
    font-weight: bold;
    color: var(--primary-indigo)
}

hr{
    height: 1px;
    color: var(--primary-indigo);
    background-color: var(--primary-indigo);
}

.cards-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 10px;
}

.card {
    margin: 5px;
    width: 19%;
    box-shadow: 0px 0px 5px 0px #b2bfc2;
    cursor: pointer;
    transition-duration: 0.2s;
}
.card:hover {
    margin-top: 0;
    margin-bottom: 10px;
    box-shadow: 0px 0px 8px 0px #b2bfc2;
}

.card-details{
    padding: 10px;
}

.card-details h1{
    color: black;
    font-weight: bold;
}

.card img{
    width: 100%;
    background: center center;
}

.image-wrapper{
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 150px;
}

