
/* GENERAL */
* {
	font-family: "Ubuntu", sans-serif;
}


/* HEADER */
.navbarHeader {
	font-size: 20px;
	justify-content: space-around;
}

.brand {
	font-size: 25px;
	margin: 5px;
}

.labelNosotros {
	margin-top: 5px;
	font-size: 20px;
}

.btnRegistro {
	margin: 10px; 
	background-color: #547980; 
	font-size: 15px; 
}

.btnLogin {
	margin: 10px; 
	font-size: 15px;
}


/* NAVBAR */




/* BODY */
.display-3 {
	font-family: "Brandon";
}

.imgJumbotron {	
	background-image: url(/images/search-bg2.png) ;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	overflow: hidden;
}

.cardContainer {
	display: flex;
    flex-flow: row wrap;
    justify-content: left;
    padding: 10px;
}

.row {
	font-size: 17px;
}

.image-wrapper {
    display: flex;
    overflow: hidden;
    width: 100%;
    background: center center;
}

.card-img-top {
	width: 300px;
    height: 208px;
}

.card {
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
    margin: 5px;
    box-shadow: 0px 0px 5px 0px #b2bfc2;
    cursor: pointer;
    transition-duration: 0.2s;
    width: 300px;
    margin-right: 50px;
    margin-left: 50px;
}

.card-title {
	font-size: 22px;
	height: 30px;
}


/* ASIDE */




/* FOOTER*/




