@media screen and (max-device-width: 500px) {

    .home img {
        width: 75px;
        height: 75px;
    }

    .user img {
        width: 65px;
        height: 65px;
    }
    .home span{
        font: 28pt "Ubuntu";
    }

    #login,
    #logup {
        padding: 12px;
        border-radius: 10px;
    }

    #login span ,
    #logup span {
        font: 25pt "Helvetica", Arial, sans-serif;
    }

    #info {
        display: none;
    }
}