
header {
    position: sticky;
    width: 100%;
    background: var(--primary-light);
    top: 0;
}

header .container {
    display: flex; 
    justify-content: space-between;
    width: 97%;
    padding: 8px 8px;
    margin: auto auto;
}

.home {
    margin-left: 0px;
}

.home img {
    width: 45px;
    height: 45px;
}

.home span {
    font: 13pt "Ubuntu";
}

.home a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
    align-items: center
}

nav {
    margin-right: 15px;
    display: flex;
    align-items: center;
}

nav #info {
    margin-right: 20px;
}

nav #session {
    display: flex;
    align-items: center;
}

#login,
#logup {
        padding: 10px;
        border-radius: 6px;
    }

#login span ,
#logup span {
    font: 12pt "Helvetica", Arial, sans-serif;
}


.user {
    margin-top: 30%;
    margin-right: 5%;
    cursor: pointer;
}

.user img {
    width: 30px;
    height: 30px;
}