.col-sm {
    align-content: center;
    margin-bottom: 10%;
}

.bg-image {
    background-image: url("/images/team-bg.jpg");
    background-position: center;
    background-size: cover;
}

label {
    margin-top: 2%;
}
