.col-sm {
    align-content: center;
    margin-bottom: 10%;
}

.jumbotron {
    padding: 30px;
    border-radius: 0;
    filter: drop-shadow(0px 10px 2px #0000001f);
}

.bg-image {
    background-image: url("/images/team-bg.jpg");
    background-position: center;
    background-size: cover;
}

label {
    margin-top: 3%;
}

footer {
    border-top: #c4e28c;
    border-width: 20px;
    text-align: center;
    padding: 30px;
    background-color: var(--dark);
    width: 100%;
    color: white;
}
 
footer>p {
    text-align: center;
}