.wrapper{
    display: flex;
    flex-direction: row;
}

.resultados{
    margin: 5px;
    padding: 10px;
}
/*.result_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px auto;
    width: 90%;
}*/

.result_container{
    display: flex;
    flex-direction: column;
}

.result-box{
    margin: 5px;
    display: flex;
    flex-direction: row;
    padding: 10px;
    border: 2px solid #f7f7f7;
    border-radius: 5px;
}
.result-box img{
    border-radius: 5px;
    height: 110px;
    width: auto;
}
.star-rating .checked {
    color: #9bb95f;
}
.result-box .description{
    margin-left: 20px;
    width: 50%;
}

.result-box p {
    margin-top: 15px;
}
.result-box h3 {
    margin: 0px;
}


.result-box .options{
    margin: auto 0px;
}

.result-box .options button{
    background: var(--primary-blue);
    font-size: 12pt;
    border-radius: 5px;
    border: transparent;
    padding: 8px;
    color: white;
    cursor: pointer;
    margin-left: 5px;
}


