
@media screen and (max-width: 960px) {
    .result_container{
        width: 100%;
    }
    .result-box{
        width: 100%;
        height: 200px;
    }

    .result-box .description{
        padding-top: 20px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .result-box h1{
        font-size: 15pt;
    }
    .result-box h3{
        font-size: 10pt;
    }
    .result-box p{
        display: none;
    }
}



/* styles for browsers larger than 1440px; */
@media only screen and (min-width: 1440px) {

}



/* for sumo sized (mac) screens */
@media only screen and (min-width: 2000px) {

}





@media only screen and (max-device-width: 480px) {
    .result_container{
        width: 100%;
    }
    .result-box{
        width: 100%;
        height: 230px;
    }
    .result-box.description{
        width: 50%;
    }
    .result-box.options{
        width: 20%;
    }
    .result-box img{
        height: 200px;
    }
    .result-box h1{
        font-size: 35pt;
    }
    .result-box h3{
        font-size: 24pt;
    }
    .result-box p{
        display: none;
    }

    .result-box .options button{
        background: var(--primary-blue);
        font-size: 25pt;
        border-radius: 5px;
        border: transparent;
        padding: 12px;
        color: white;
        cursor: pointer;
    }
}


/* default iPad screens */
@media only screen and (device-width: 768px) {
   
}
/* different techniques for iPad screening */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
  
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
    .result_container{
        width: 100%;
    }
    .result-box{
        width: 95%;
        height: 230px;
    }
    .result-box.description{
        width: 50%;
    }
    .result-box.options{
        width: 20%;
    }
    .result-box img{
        height: 200px;
    }
    .result-box h1{
        font-size: 30pt;
    }
    .result-box h3{
        font-size: 20pt;
    }
    .result-box p{
        display: none;
    }

    .result-box .options button{
        background: var(--primary-blue);
        font-size: 20pt;
        border-radius: 5px;
        border: transparent;
        padding: 12px;
        color: white;
        cursor: pointer;
    }
}