@import '/stylesheets/fontfaces.css';

/* ------------ fonts -------------- */
h1, h3, p{
  font-family: "Brandon";
}
h1{
  font-weight: bold;
}
h3{
  font-weight: 500;
  color: var(--dark)
}

p{
  text-align: justify;  
}

hr {
  height: 1px;
  color: var(--primary-indigo);
  background-color: var(--primary-indigo);
}



/* ----------- buttons ------------ */
.btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
  padding: 7px;
  border-radius: 5px;
  border: 1px solid;
  height: 30%;
  cursor: pointer;
}

.btn span {
  margin: 0;
  font: 10pt "Helvetica", Arial, sans-serif;
}



/* ----------- borders ------------ */
.border-black {
  border-color: black;
}

.border-indigo {
  border-color: var(--primary-indigo);
}




/* ----------- backgrounds ------------ */
.bg-indigo {
  background-color: var(--primary-indigo);
}

.bg-transparent {
  color: transparent;
}



/* ----------- text ------------ */
.t-white {
  color: white;
}

.t-black {
  color: black;
}

.t-indigo {
  color: var(--primary-indigo)
}

.t-dark {
  color: var(--dark);
}

.t-link {
  text-decoration: none;
  font-weight: bold;
}

.t-title-small{
  font-size: 15pt;
}