

/* ----------- buttons ------------ */
.btn {
  display: flex;
  align-items: center;
  margin: 5px;
  padding: 7px;
  border-radius: 5px;
  border: 1px solid;
  height: 30%;
  cursor: pointer;
}

.takeit-btn {
  display: flex;
  align-items: center;
  margin: 5px;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid;
  height: 30%;
  cursor: pointer;
}

.takeit-btn span {
  font-weight: bold;
}

.btn span {
  margin: 0;
  font: 10pt "Helvetica", Arial, sans-serif;
}



/* ----------- borders ------------ */
.border-black {
  border-color: black;
}

.border-indigo {
  border-color: var(--primary-indigo);
}




/* ----------- backgrounds ------------ */
.bg-indigo {
  background-color: var(--primary-indigo);
}

.bg-transparent {
  color: transparent;
}

.bg-blue {
  background-color: var(--primary-blue);
}



/* ----------- text ------------ */
.t-white {
  color: white;
}

.t-black {
  color: black;
}

.t-indigo {
  color: var(--primary-indigo)
}

.t-dark {
  color: var(--dark);
}

.t-link {
  text-decoration: none;
  font-weight: bold;
}

.t-title-small{
  font-size: 14pt;
}