
#search-section {
    margin: 0;
    text-align: center;
    justify-items: center;
    padding: 30px;
    background: url(/assets/images/search-bg2.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

form {
    justify-content: space-evenly;
    display: flex;
    width: 50%;
    margin: 10px auto;
}


#search-input {
    margin: 15px;
    width: 77%;
    height: 45px;
    border-radius: 5px;
    border: transparent;
    background-color: white;
    font-size: 14pt;
}

#search-btn {
    background-color: var(--primary-blue);
    border-radius: 5px;
    border: transparent;
    margin: 15px;
    width: 15%;
    color: white;
    font-weight: bold;
    font-size: 14pt;
}

.wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.results{
    margin: 5px;
    padding: 10px;
}

.result_container{
    display: flex;
    flex-direction: column;
    overflow: scroll;
    margin: 20px;
    margin-top: 40px;
    width: 45%;
    padding: 10px;
    height: 660px;
}

.result-box {
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    border: 2px solid #f7f7f7;
    border-radius: 6px;
}
.result-box .x{
    display: flex;
    flex-direction: row;
}

.selected{
    background-color: #f7f7f7;
}

.result-box:hover{
    background-color: #f7f7f7;
    border-radius: 6px;
    cursor: pointer;
}

.result-box img{
    border-radius: 5px;
    height: 110px;
    width: auto;
}
.star-rating .checked {
    color: #9bb95f;
}
.result-box .description{
    margin-left: 15px;
}
.result-box .description h1{
    font-size: 17pt;
}

.result-box p {
    margin-top: 15px;
}
.result-box h3 {
    margin: 0px;
}


.result-box button{
    background: var(--primary-blue);
    font-size: 12pt;
    font-weight: 800;
    border-radius: 5px;
    border: transparent;
    padding: 8px;
    color: white;
    cursor: pointer;
    margin: auto 0px;
    width: 80px;
    height: 40px;;
    right: 0;
}

.result-box button:hover{
    background-color: #547980;
}
.map_container{
    padding: 35px;
    margin: 5px;
    width: 60%;
    height: 85%;
}

.map { 
    min-height: 680px; 
}

.notFountMsg{
    font-family: 'Brandon';
    font-weight: bold;
    font-size: 20pt;
}


@media only screen and (max-device-width: 760px) {

    form {
        width: 100%;
    }

    #search-input,
    #search-btn {
        height: 40px;
        font-size: 12pt;
    }

    #search-btn {
        width: 100px;
    }

    .map_container{
        display: none;
    }
    
}