<header class="navbar sticky-top navbar-expand-lg navbar-light navbarHeader">
    <a class="navbar-brand" href="/">
        <img src="assets/images/logo2.png" width="auto" height="50" class="d-inline-block align-top" alt="logo">
    </a>

    <ng-container *ngIf="!loggedin">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-nav ml-auto">
                <a class="nav-item nav-link t-bold" routerLink="/quienessomos">¿Quiénes somos?</a>
                <button type="button" class="nav-item btn btn-secondary bg-indigo my-2 my-sm-0 t-bold">
                    Registrarse
                </button>
                <button type="button" (click)="login()" class="btn btn-outline-secondary my-2 my-sm-0 t-bold">
                    Inicar Sesion
                </button>
            </div>

        </div>
    </ng-container>

    <ng-container *ngIf="loggedin">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-nav ml-auto">
                <a class="nav-item nav-link mt-2" routerLink="/quienessomos">¿Quiénes somos?</a>
                <a class="nav-item nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-user-circle" style="font-size: 40px" aria-hidden="true" href="#"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right subitems">
                    <button class="btn btn-secondary btnIcons" (click)="goMisReservas()">
                        <i class="fa fa-book-open disabled" aria-hidden="true" href="#"></i>
                        <span class="text">Mis Reservas</span>
                    </button>
                    <button class="btn btn-secondary btnIcons" (click)="logout()">
                        <i class="fa fa-sign-out-alt disabled" aria-hidden="true" href="#"></i>
                        <span class="text">Cerrar sesión</span>
                    </button>
                </div>
            </div>
        </div>
    </ng-container>
</header>

<!------------------------    Ya no sirve pero no lo borren   --------------------->
<!--header>
    <div class="container">
        <div class="home">
            <a routerLink="/">
                <img src="assets/images/logo2.png" alt="main page" srcset="" span="Takeit">
            </a>
        </div>

        <nav>
            <div id="info">
                <a class="t-link t-dark" href="/nosotros">¿Quiénes somos?</a>
            </div>
            <div id="session">
                    <div *ngIf="loggedin" class="user">
                        <img src="assets/images/user.png" alt="">
                    </div>
                    
                    <ng-container  *ngIf="!loggedin">
                        <div id="logup" class="btn bg-indigo border-indigo t-white">
                            <span>Registrarse</span>
                        </div>
                        <div id="login" class="btn border-black t-black">
                            <span>Iniciar sesión</span>
                        </div>

                    </ng-container>
                    
        
            </div>
        </nav>
    </div>

</header-->