form {
    justify-content: space-evenly;
    width: 50%;
    margin: 10px auto;
}

form * {
    display: inline-block;
}

form input {
    width: 70%;
}

form button {
    margin: 10px;
}



@media only screen and (max-width: 960px) {


    form {
        width: 80%;
    }
    
}

@media only screen and (max-width: 760px) {


    form {
        width: 100%;
    }

    
}
