{% extends "base_generic.html" %}

{% block content %}
<section>
    <div class="wrapper">
        <form action="/api/signup/" method="post">
            <input class="form-control" type="text" name="nombre" id="" placeholder="nombres">
            <input type="text" name="apellido" id="" placeholder="apellidos">
            <input type="text" name="username" id="" placeholder="nombre de usuario">
            <input type="date" name="fecha_nacimiento" id="" placeholder="fecha de nacimiento">
            <input type="text" name="password" id="" placeholder="contraseña">

            <button type="submit">Registrar</button>

        </form>
    </div>
</section>

{% endblock %}