<div class="jumbotron bg-dark bg-image">
    <h1 class="t-bold t-white">Tus reservas</h1>
    <p class="lead t-white">Estas son las reservas que has hecho últimamente</p>
</div>
<div class="container-fluid">

    <h3 class="t-bold">Reservaciones Activas</h3>
    <hr class="my-4">

    <div class="cards-container">
        <div class="card mb-3">
            <div class="image-wrapper">
                <img class="card-img-top img-fluid" src="assets/images/restaurants/5.jpg">
            </div>
            <article class="card-body">
                <h5 class="card-title t-bold">Miskay Restaurant</h5>
                <h6 class="card-subtitle mb-3 text-muted">Av Victor Emilio Estrada 800</h6>
                <div class="card-info">
                    <i class="fa fa-group"></i>
                    <p class="card-text">8 personas</p>
                </div>
                <div class="card-info">
                    <i class="fa fa-calendar"></i>
                    <p class="card-text">30/06, 18:30</p>
                </div>
                <div class="card-info">
                    <i class="fa fa-comment"></i>
                    <p class="card-text">1 silla para bebés</p>
                </div>
                <div class="text-center mt-3">
                    <button type="button" class="btn btn-danger" href="#">Cancelar</button>
                </div>
            </article>
        </div>

        <div class="card mb-3">
            <div class="image-wrapper">
                <img class="card-img-top img-fluid" src="assets/images/restaurants/4.jpg">
            </div>
            <article class="card-body">
                <h5 class="card-title t-bold">Tacos y Jarros</h5>
                <h6 class="card-subtitle mb-3 text-muted">Av Victor Emilio Estrada 300</h6>
                <div class="card-info">
                    <i class="fa fa-group"></i>
                    <p class="card-text">8 personas</p>
                </div>
                <div class="card-info">
                    <i class="fa fa-calendar"></i>
                    <p class="card-text">30/06, 18:30</p>
                </div>
                <div class="card-info">
                    <i class="fa fa-comment"></i>
                    <p class="card-text">--</p>
                </div>
                <div class="text-center mt-3">
                    <button type="button" class="btn btn-danger" href="#">Cancelar</button>
                </div>
            </article>
        </div>

        <div class="card mb-3">
            <div class="image-wrapper">
                <img class="card-img-top img-fluid" src="assets/images/restaurants/1.jpg">
            </div>
            <article class="card-body">
                <h5 class="card-title t-bold">Piccolo Mondo</h5>
                <h6 class="card-subtitle mb-3 text-muted">Av Victor Emilio Estrada 800</h6>
                <div class="card-info">
                    <i class="fa fa-group"></i>
                    <p class="card-text">5 personas</p>
                </div>
                <div class="card-info">
                    <i class="fa fa-calendar"></i>
                    <p class="card-text">30/06, 18:30</p>
                </div>
                <div class="card-info">
                    <i class="fa fa-comment"></i>
                    <p class="card-text">1 silla para bebés</p>
                </div>
                <div class="text-center mt-3">
                    <button type="button" class="btn btn-danger" href="#">Cancelar</button>
                </div>
            </article>
        </div>

    </div>

</div>