.cards-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 10px;
}

.cardx {
    margin: 5px;
    
    box-shadow: 0px 0px 5px 0px #b2bfc2;
    cursor: pointer;
    transition-duration: 0.2s;
}

.cardx:hover {
    margin-top: 0;
    margin-bottom: 10px;
    box-shadow: 0px 1px 8px 1px #b2bfc2;
}

.cardx-details {
    padding: 10px;
}

.cardx-details h1 {
    color: black;
    font-weight: bold;
    margin: 10px;
    margin-left: 3px;
    font-size: 1.9rem;
}

.cardx-details h3 {
    margin: 3px;
    font-size: 1.3rem;
}

.image-wrapper {
    display: flex;
    overflow: hidden;
    width: 100%;
    background: center center;
}

.image-wrapper img {
    width: 300px;
    height: 225px;
}



@media only screen and (max-device-width: 1024px) {

    #mapa {
        display: none;
    }
}

@media only screen and (max-device-width: 760px) {

    .cards-container {
        flex-direction: column;
        align-content: center;
    }

    .card {
        margin: 10px;
    }

    .card-details h1 {
        margin: 5px;
        font-size: 20pt;
    }

    .card-details h3 {
        margin: 5px;
        font-size: 15pt;
    }

    .image-wrapper img {
        
        height: 250px;
        width: 280px;
    }
}
