.center-content{
    display: flex;
    justify-content: center;
}

#topzones {
    position: relative;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0px;
}


#topzones a {
    margin: 0px;
    position: relative;
    cursor: pointer;
}


#topzones a img {
    width: 400px;
    height: 300px;
}

#topzones a div h4 {
    font-size: 20pt;
    color: white;
    margin: 10px;
}
#topzones a div h5 {
    color: white;
    font-size: 16pt;
    margin-left: 10px;
}

.darken {
    background: black;
    opacity: 0.4;
    width: 400px;
    height: 300px;;
    position: absolute;
    top: 0;
}

.in-center-image{
    position: absolute;
    top: 30%;
    left: 20%;
}



@media only screen and (max-width: 1224px) {

    #mapa {
        display: none;
    }

    #topzones {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }

}

@media only screen and (max-width: 860px){
    #topzones {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }

    #topzones a, 
    #topzones a img,
    #topzones a .darken{
        width: 300px;
        height: 250px;
    }

}

@media only screen and (max-width: 760px) {

    
    .in-center-image{
        position: absolute;
        top: 40%;
        left: 20%;
    }

    #topzones {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        width: 100%;
    }
    
    #topzones a {
        margin: 0px auto;
        height: auto;
        position: relative;
        cursor: pointer;
    }
    
    
    #topzones a img {
        width: 300px;
        height: 250px;
    }
    
    #topzones a div h4 {
        font-size: 25pt;
    }
    #topzones a div h5 {
        font-size: 16pt;
    }
    
}