footer {
  text-align: center;
  padding: 30px;
  background-color: var(--dark);
  width: 100%;
  color: white;
}

footer>p {
  text-align: center;
}

.labelFooter {
  margin-top: 5px;
  font-size: 15px;
  font-family: "Brandon", sans-serif;
  color: var(--gray);
  padding-right: 15px;
  padding-left: 15px;
}