

@media only screen and (max-device-width: 860px){
    #topzones{
        width: 76%;
        left: 10%;
        right: 0;
    }

}


@media only screen and (max-device-width: 1024px) {

    #mapa {
        display: none;
    }

    #topzones {

        flex-direction: column;
        flex-flow: row wrap;
    }

}

@media only screen and (max-device-width: 760px) {

    #message-large span {
        font-size: 45pt;
        font-weight: bold;
    }

    .t-title-small {
        font-size: 30pt;
    }

    #search-section form {
        width: 90%;
    }

    #search-input,
    #search-btn {
        height: 60px;
        font-size: 25pt;
    }

    #search-btn {
        width: 200px;
    }

    #mapa {
        display: none;
    }

    .summary-section {
        margin: 40px;
    }

    .summary-section span {
        font-size: 40pt;
    }

    .cards-container {
        flex-direction: column;
        align-content: center;
    }

    .card {
        margin: 10px;
    }

    .card-details h1 {
        font-size: 35pt;
    }

    .card-details h3 {
        font-size: 30pt;
    }

    
    .image-wrapper img {
        width: 600px;
        height: 450px;
    }


    .shadower {
        background: black;
        opacity: 0.4;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
    }
    
    .in-center-image{
        position: absolute;
        top: 40%;
        left: 20%;
    }

    
    #topzones a {
        margin: 0px auto;
        height: auto;
        position: relative;
        cursor: pointer;
    }
    
    
    #topzones a img {
        width: 650px;
        height: 450px;
    }
    
    #topzones a div h4 {
        font-size: 35pt;
    }
    #topzones a div h5 {
        font-size: 26pt;
    }
    
}