#info-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

h1#restaurant-name{
    font-size: 8vw;
}

#descripcion {
    text-align: justify;
    margin-right: 40%;
}

#imagenes-restaurante, #imagenes-platos {
    margin-top: 5%;
}
