.jumbotron {
    padding: 30px;
    border-radius: 0;
    filter: drop-shadow(0px 10px 2px #0000001f);
}

.btnIcons i {
    font-size: 20px;
    margin-right: 10px;
}

.btnIcons {
    margin: 10px;
    background-color: transparent;
    font-size: 16px;
    color: var(--dark);
    width: 95%;
    justify-content: left !important;
    border: none !important;
}

.bg-image {
    background-image: url("/assets/images/team-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}