form {
    justify-content: space-evenly;
    display: flex;
    width: 50%;
    margin: 10px auto;
}


#search-input {
    margin: 15px;
    width: 77%;
    height: 45px;
    border-radius: 5px;
    border: transparent;
    background-color: white;
    font-size: 14pt;
}

#search-btn {
    background-color: var(--primary-blue);
    border-radius: 5px;
    border: transparent;
    margin: 15px;
    width: 15%;
    color: white;
    font-weight: bold;
    font-size: 14pt;
}


@media only screen and (max-width: 960px) {


    form {
        width: 80%;
    }

    #search-input,
    #search-btn {
        height: 40px;
        font-size: 12pt;
    }

    #search-btn {
        width: 100px;
    }
    
}

@media only screen and (max-width: 760px) {


    form {
        width: 100%;
    }

    #search-input,
    #search-btn {
        height: 40px;
        font-size: 12pt;
    }

    #search-btn {
        width: 100px;
    }
    
}
